<style>
    form input{
        width: 400px;
        border-radius: 5px;
        border: none;
    }
    form button{
        margin-left: 100px;
        width: 100px;
        border-radius: 5px;
        border: none;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4" style="margin-left: 350px;">
            <form action="" method="post">
                <input type="email" name="email" placeholder="email"> <br> <br>
                <input type="password" name="password" placeholder="password"> <br> <br>
                <button type="submit">Sign in</button>
            </form>
        </div>
    </div>
</div>
