<style>
    form input{
        width: 400px;
        border-radius: 5px;
        border: none;
    }
    form button{
        margin-left: 100px;
        width: 100px;
        border-radius: 5px;
        border: none;
    }
</style> 
<div class="container">
    <div class="row">
        <div class="col-md-6" style="margin-left: 300px;">
            <form action="" method="post">
                <input type="text" name="username" placeholder="username"> <br> <br>
                <input type="email" name="email" placeholder="email"> <br> <br>
                <input type="password" name="password" placeholder="password"> <br> <br>
                <input type="password" name="confirm" placeholder="confirm password"> <br> <br>
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>
